.h15s {
	height: 15px;
}
.h30s {
	height: 30px;
}
.h40s {
	height: 40px;
}
.h50s {
	height: 50px;
}
.h80s {
	height: 80px;
}

#train_form {
	padding: 30px 20px;
	border-radius: 10px;
	border: 1px solid #cbdaf4;
}


#getResult {
	display: none;
}